In [ ]:
intro to lidt in data type:

In [1]:
my_student =['rahul','ashish','manoj','ashok','ramya']
print (my_student)

['rahul', 'ashish', 'manoj', 'ashok', 'ramya']

In [10]:
type(my_student)

list

In [9]:
print (my_student)

['rahul', 'ashish', 'manoj', 'ashok', 'ramya']

In [ ]:
indexing :

In [3]:
my_student =['rahul','ashish','manoj','ashok','ramya']
print (my_student[2])

manoj

In [ ]:
-ve indexing:

In [11]:
my_student =['rahul','ashish','manoj','ashok','ramya']
print (my_student[-2])

ashok

In [ ]:
reassigning the value:

In [13]:
my_student =['rahul','ashish','manoj','ashok','ramya']
print (my_student)

['rahul', 'ashish', 'manoj', 'ashok', 'ramya']

In [15]:
my_student[2] ='Ramana'
print (my_student)

['rahul', 'ashish', 'Ramana', 'ashok', 'ramya']

In [ ]:
add:

In [16]:
my_student =['rahul', 'ashish', 'Ramana', 'ashok', 'ramya']
print (my_student)

['rahul', 'ashish', 'Ramana', 'ashok', 'ramya']

In [ ]:
append:

In [32]:
my_student.append ('Daksh')
print (my_student)

['rahul', 'ashish', 'Ramana', 'ashok', 'ramya', 'Daksh']

In [ ]:
insert:

In [35]:
my_student.insert(2,'Kishore')
print (my_student)

['rahul', 'ashish', 'Kishore', 'Kishore', 'Ramana', 'ashok', 'ramya', 'Daksh']

In [42]:
my_student.insert(2,'Hero')
print (my_student)

['rahul', 'ashish', 'Hero', 'Kishore', 'Kishore', 'Ramana', 'ashok', 'ramya', 'Daksh']

In [ ]:
delete:

In [36]:
my_student = ['rahul', 'ashish', 'Kishore', 'Kishore', 'Ramana', 'ashok', 'ramya', 'Daksh']
print (my_student)

['rahul', 'ashish', 'Kishore', 'Kishore', 'Ramana', 'ashok', 'ramya', 'Daksh']

In [37]:
del my_student[3]
print (my_student)

['rahul', 'ashish', 'Kishore', 'Ramana', 'ashok', 'ramya', 'Daksh']

In [ ]:
pop:

In [44]:
my_student.pop ()
print (my_student)

['rahul', 'ashish', 'Hero', 'Kishore', 'Kishore', 'Ramana', 'ashok']

In [45]:
my_student.pop(2)
print (my_student)

['rahul', 'ashish', 'Kishore', 'Kishore', 'Ramana', 'ashok']